<div class="page-content login-cover overlay">



  <!-- Main content -->
  <div class="content-wrapper">

    <!-- Content area -->
    <div class="content d-flex justify-content-center align-items-center">

      <!-- Login form -->
      <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm" action="index.html" class="login-form">
        <div class="card mb-0">
          <div class="card-body">
            <div class="text-center mb-3">

              <i class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-round p-3 mb-3 mt-1"
                 style="color: grey!important; border-color: grey !important;"></i>
              <h5 class="mb-0">{{"FORGET_PASSWORD.PASSWORD_RECOVERY"}}</h5>
              <span
                class="d-block text-muted">{{"FORGET_PASSWORD.WE_LL_SEND_YOU_INSTRUCTIONS_IN_EMAIL"}}</span>
            </div>


            <div class="form-group form-group-feedback form-group-feedback-left">
              <input [ngClass]="{ 'is-invalid':
              (controls.email.dirty || controls.email.touched)
              && controls.email.invalid && submitted } " class="form-control"
                     formControlName="email" placeholder="email" type="text">
              <div *ngIf="controls.email.invalid && submitted" class="invalid-feedback">
                <div *ngIf="controls.email.dirty || controls.email.value === ''  " class="alert alert-danger mt-3 mb-0">
                  <i class="icon-close2"></i>{{"EMAIL_FORMAT_REQUIRED"}}
                </div>

                <div *ngIf=" controls.email.value === ''" class="alert alert-danger mt-3 mb-0">
                  <i class="icon-close2"></i>{{"FIELD_REQUIRED"}}
                </div>


              </div>

              <div class="form-control-feedback">
                <i class="icon-mail5 text-muted"></i>
              </div>
            </div>


            <div class="form-group">
              <button [disabled]="!controls.email.dirty" class="btn btn-primary btn-block"
                      type="submit"><i
                class="icon-spinner11 mr-2"></i>{{"FORGET_PASSWORD.SEND_RESET_EMAIL"}}</button>
              <div *ngIf="errorFound" class="alert alert-danger mt-3 mb-0"><i class="icon-close2"></i>{{error}}</div>

            </div>

            <div *ngIf="submitted && controls.email.valid && sent " class="alert alert-success mt-3 mb-0"><i
              class="icon-checkmark-circle2"></i> {{emailSentMessage}}</div>


            <div class="text-center">
              <a (click)="resend()" routerLink="/forget-password">{{"FORGET_PASSWORD.NO_EMAIL"}}</a>
            </div>
          </div>
        </div>
      </form>
      <!-- /login form -->

    </div>
    <!-- /content area -->


  </div>
  <!-- /main content -->

</div>

